/* import goggle fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');


/* import do reset css */
@import url(reset.css);


/* ajusts classes bootstrap */
@import url(ajustes.css);


/* import icons bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* imports interal/components */
@import url(components_css/header_navbar.css);
@import url(components_css/footer.css);


/* roots */
:root {
  --color1: #FECE41;
  --color2: #4D4D50;
  --color3: #FDEB6F;
  --color4: #20D4A4;
  --color5: #CCCCCC;
  --color6: #666666;

  --colorWhite: #fff;
  --colorBlack: #00030c;

  --colorGray: #3A3E46;

  --fontMain: "Roboto Mono", serif;
}


/* css global */
* {
  color: var(--colorWhite);
  font-size: 1em;
  font-weight: 400;
}

body {
  background-color: var(--color6);
  background-repeat: no-repeat;
  font-family: var(--fontMain);
}


/* ajustes goggle icons */
.material-symbols-outlined {
  font-size: 48px;
}


/* css title */
h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}


/* css text */
p {
  text-indent: 1em;
  line-height: 1.3em;
}

span.ping {
  color: var(--color4);
  font-weight: 700;
  text-decoration: underline;
}