/* roots */
:root {
  --color1: #9C94C4;
  --color2: #4C549D;
  --color3: #2B3C93;
  --color4: #344498;
  --color5: #D9D9D9;

  --colorWhite: #fff;
  --colorBlack: #00030c;

  --colorBg: #3A3E46;

  --fontMain: "Roboto Mono", serif;
}


/* css homepage */
.banner__homepage {
  display: flex;
  align-items: center;
}

.banner_logo {
  width: 200px;
  height: 200px;
}

.banner__homepage > h1 {
  font-size: 40px;
  color: var(--color1);
  line-height: 1.2em;
}