/* roots */
:root {
  --color1: #FECE41;
  --color2: #4D4D50;
  --color3: #FDEB6F;
  --color4: #20D4A4;
  --color5: #CCCCCC;
  --color6: #666666;

  --colorWhite: #fff;
  --colorBlack: #00030c;

  --colorGray: #3A3E46;

  --fontMain: "Roboto Mono", serif;
}


/* css homepage */
.banner__homepage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.banner_logo {
  width: 256px;
  height: 256px;
}

main {
  border-radius: 2em;
}

main > article:nth-child(1) > p {
  text-align: center;
}

main > article.color2 {
  background-color: var(--color2);
}



.card {
  background-color: var(--color2);
}

.card-link, .card-link > i {
  color: var(--color4);
  text-decoration: none;
  transition: all 0.3s ease;
}

.card-link:hover, .card-link:hover > i {
  color: var(--color1);
  text-decoration: underline;
}

.main_btnlogin {
  color: var(--colorBlack);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  background-color: var(--color1);
  border: none;
  border-radius: 16px;
  box-shadow: 0px 0px 10px var(--color1);
  transition: all 0.3s ease;
}

.main_btnlogin:hover {
  transform: scale(1.1);
  color: var(--colorBlack);
}


.login_main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
}

.color1 {
  color: var(--color1);
}